<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-wrap relative min-h-screen overflow-y-auto justify-center items-center">
        <div
            class="z-10 rounded-lg py-8 mt-8 bg-white absolute w-5/6 sm:w-4/6 md:w-1/2 flex flex-col content-center flex-wrap justify-center lg:relative">
            <div class="text-center">
                <h2 class="mt-6 text-4xl font-bold text-gray-900">
                    Welcome Back!
                </h2>
            </div>
            <div class="flex items-center justify-center mt-8">
                <span class="h-px w-3/5 bg-gray-200"></span>
            </div>
            <form id="form" class="mt-8 space-y-4 w-5/6 lg:space-y-6 lg:w-3/5">
                <div>
                    <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">Email</label>
                    <input
                        class=" w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500"
                        name="email"
                        oninput="validateEmail(this)"
                        id="emailInput"
                        type=""
                        placeholder="mail@gmail.com">
                </div>
                <div class="mt-8 content-center">
                    <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">
                        Password
                    </label>
                    <input
                        class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
                        name="password" 
                        oninput="validatePassword(this)"
                        id="passwordInput" 
                        type="" 
                        placeholder="Enter your password">
                </div>
                <div class="flex items-center justify-end">
                    <div class="text-sm">
                        <a href="#" class="text-indigo-400 hover:text-blue-500">
                            Forgot your password?
                        </a>
                    </div>
                </div>
                <div id="buttonContainer">
                    <button 
                        id="submitButon" 
                        onclick="authApiCall(`http://localhost:8080/api/v1/auth/login`)"
                        type="button"
                        class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
                        Login
                    </button>
                </div>
                <p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
                    <span>Don't have an account?</span>
                    <a href="/register"
                        class="text-indigo-400 hover:text-blue-500 no-underline hover:underline cursor-pointer transition ease-in duration-300">Sign
                        up</a>
                </p>
            </form>
        </div>
        <img class="min-h-screen fixed lg:static w-full object-cover lg:w-1/2"
            src="https://wallpapers.com/images/hd/random-material-shapes-and-pattern-610ac3hisb70jgbl.jpg"
            alt="background-img">
    </div>

    <script src="/static/auth.js"></script>
</body>

</html>